.link {
  color: steelblue;
  text-decoration: none;
}

.link:hover{
  text-decoration: none;
  text-shadow: 1px 1px silver;
}

.repo-row {
  padding: 15px;
}

.repo-name-text {
  color: steelblue;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

.repo-details {
  font-weight: bold;
  text-align: right;
}

.repo-created-text {
  font-style: italic;
  font-weight: bolder;
}

.repo-avatar-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.avatar {
  box-shadow: 8px 8px lightsteelblue;
  border-radius: 100px;
  height: 125px;
  margin: 5px;
  width: auto;
}

.repo-description-container {
  align-items: center;
  display: flex;
  font-size: 1.2em;
}

.repo-description-text {
  font-weight: bolder;
}

.repo-stars-container {
  padding-top: 25px;
  text-align: center;
}

.repo-stars-text-label {
  font-style: italic;
  font-weight: bold;
}

.repo-stars-text {
  color: darkred;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}
