@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.dashboard-container {
  background-color:  white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
  padding: 50px;
  width: 67vw;
}
.dashboard-row {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  justify-content: center;
  margin-top: 50px;
}
