.table {
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.1) 75%, rgba(0,0,0,.15) 0%, rgba(0,0,0,0.2) 100%);
  border: gray solid 2px;
  border-radius: 10px;
  box-shadow: 5px 5px lightgray;
  font-family: 'Open Sans Condensed';
  width: auto;
}

.header-row {
  border-bottom: 2px solid gray;
  color: teal;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 15px;
  text-shadow: 2px 1px lightsteelblue;
}

.table-title {
  font-weight: bolder;
}

.table-data {
  font-weight: bold;
}

.top-data{
  background: silver;
  font-weight: bolder;
}
